<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>layui</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="${request.contextPath}/statics/lib/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="${request.contextPath}/statics/css/public.css" media="all">
    <script src="${request.contextPath}/statics/lib/layui/layui.js" charset="utf-8"></script>
    <script src="${request.contextPath}/statics/js/common.js" charset="utf-8"></script>
    <script src="${request.contextPath}/statics/js/oneBox.js"></script>
</head>
<body>
<div class="layuimini-container layuimini-page-anim">
    <div class="layuimini-main">
        <div class="layuimini-container layuimini-page-anim">
            <div class="layuimini-main">
                <table class="layui-hide" id="currentTableId" lay-filter="currentTableFilter"></table>
            </div>
        </div>
    </div>
</div>
</body>
</html>